a {
    background: transparent;
    border: none;
    color: var(--text-primary);
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    background: transparent;
    border: none;
    color: var(--button-bg);
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}