a {
    background : #333;
    border : none;
    color:  white;
    cursor: "pointer";
    font-size: 16px;
    text-decoration: none;
}
a:hover {
    background : #333;
    border : none;
    color:  dodgerblue;
    cursor: "pointer";
    font-size: 16px;
    text-decoration: none;
}