* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app {
  @apply h-screen flex flex-col overflow-hidden bg-white dark:bg-gray-900;
}

.main-content {
  @apply flex-1 overflow-y-auto flex flex-col;
}